name: PHP

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - php: 7.3
            composer: '--prefer-lowest'
            desc: "Lowest versions"
          - php: 7.3
          - php: 7.4
            coverage: '--coverage --coverage-xml'
          - php: 8.0
    name: PHP ${{ matrix.php }} ${{ matrix.desc }}

    steps:
    - uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        coverage: xdebug

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      if: steps.composer-cache.outputs.cache-hit != 'true'
      run: composer update --prefer-dist --no-progress --no-suggest ${{ matrix.composer }}

    - name: Run Codeception
      run: vendor/bin/codecept run ${{ matrix.coverage }}

    - name: Upload coverage to Scrutinizer
      if: ${{ matrix.coverage }}
      run: >
        wget https://scrutinizer-ci.com/ocular.phar -O "/tmp/ocular.phar" &&
        php "/tmp/ocular.phar" code-coverage:upload --format=php-clover tests/_output/coverage.xml

